In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv('/content/CreditCardDefault.csv')

FileNotFoundError: ignored

In [ ]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0





checking number of missing values

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#distribution of legit transaction and fraud detection
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
legit=data[data.Class == 0]
fraud=data[data.Class==1]

In [ ]:
print(legit.shape)

(284315, 31)

In [ ]:
print(fraud.shape)

(492, 31)

In [ ]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#comapre values for both the trasactions
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
legit_sample=legit.sample(n=30)

In [ ]:
new_df=pd.concat([legit_sample,fraud], axis=0)

In [ ]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
234729,148086.0,-4.331986,0.832860,-5.049046,0.284383,1.215875,-0.967281,1.672827,-1.580384,0.839421,...,0.703895,1.392687,0.507411,0.205586,-0.857073,-0.577843,-1.865217,1.153207,147.25,0
277569,167720.0,-0.310922,-0.257127,0.698306,-0.534436,1.013950,-0.117442,-0.251694,0.164430,1.064000,...,0.035489,0.094344,0.200073,-0.115346,-1.444484,0.157225,0.057725,0.070623,13.50,0
245643,152843.0,2.107338,-0.126501,-1.616555,-0.033046,0.641940,-0.009287,0.057310,-0.090074,0.331520,...,-0.318825,-0.793327,0.160710,-1.437692,-0.150233,0.268009,-0.071355,-0.083993,1.98,0
70511,53899.0,1.174641,-0.764431,-0.406153,-1.097026,0.327441,1.573209,-0.583743,0.525278,-1.170800,...,-0.683525,-1.568601,0.282135,-1.935293,-0.290440,0.788587,-0.022596,-0.021510,42.50,0
111959,72451.0,-0.982942,1.395650,1.962969,-0.490751,0.196267,-1.112950,1.239526,-0.436175,-0.412523,...,-0.270424,-0.650461,-0.193256,0.682679,0.222314,-0.050534,-0.190038,-0.089477,10.99,0

In [ ]:
new_df['Class'].value_counts()

1    492
0     30
Name: Class, dtype: int64

In [ ]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,101163.533333,-0.097976,-0.064419,-0.186677,-0.287309,0.018690,-0.124034,0.023393,-0.078816,-0.288396,...,-0.303526,-0.095674,-0.093700,0.107198,-0.094124,-0.015662,0.063775,-0.109417,0.045645,72.827667
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
X = new_df.drop(columns="Class", axis=1)
y= new_df['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
234729  148086.0 -4.331986  0.832860 -5.049046  0.284383  1.215875 -0.967281
277569  167720.0 -0.310922 -0.257127  0.698306 -0.534436  1.013950 -0.117442
245643  152843.0  2.107338 -0.126501 -1.616555 -0.033046  0.641940 -0.009287
70511    53899.0  1.174641 -0.764431 -0.406153 -1.097026  0.327441  1.573209
111959   72451.0 -0.982942  1.395650  1.962969 -0.490751  0.196267 -1.112950
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
234729  1.672827 -1.580384  0.839421  ... -2.589310  0.703895  1.392687
277569 -0.251694  0.164430  1.064000  ...  0.047531  0.035489  0.094344
245643  0.057310 -0.090074  0.331520  ... -0.156352 -0.318825 -0.793327
70511  -0.583743  0.525278 -1.170800  ... -0.579278 -0.683525 -1.568601
111959  1.239526 -0.436175 -0.412523  ...  0.160365 -0.270424 -0.650461
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
234729  0.507411  0.205586 -0.857073 -0.577843 -1.865217  1.153207  147.25
277569  0.200073 -0.115346 -1.444484  0.157225  0.057725  0.070623   13.50
245643  0.160710 -1.437692 -0.150233  0.268009 -0.071355 -0.083993    1.98
70511   0.282135 -1.935293 -0.290440  0.788587 -0.022596 -0.021510   42.50
111959 -0.193256  0.682679  0.222314 -0.050534 -0.190038 -0.089477   10.99
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[522 rows x 30 columns]

In [ ]:
print(y)

234729    0
277569    0
245643    0
70511     0
111959    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 522, dtype: int64

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((417, 30), (105, 30), (417,), (105,))

In [ ]:
model= LogisticRegression (solver='lbfgs', max_iter=1000)

In [ ]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [ ]:
X_train_prediction =model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,y_train)

In [ ]:
print('Accuracy on training data :' ,training_data_accuracy)

Accuracy on training data : 0.9568345323741008

In [ ]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,y_test)

In [ ]:
print('Accuracy on test data :', test_data_accuracy)

Accuracy on test data : 0.9523809523809523